.loader {
    background: var(--gradient);
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    width: 1rem;
    height: 6rem;
    background-color: var(--white);
    margin: 0rem 0.1rem;
    animation: loading 1100ms ease-in-out infinite;
}

.loader span:nth-child(1) {
    background: #2eeca8;
    animation-delay: -700ms;
}

.loader span:nth-child(2) {
    background: #eade3d;
    animation-delay: -600ms;
}

.loader span:nth-child(3) {
    background: #55acee;
    animation-delay: -500ms;
}

.loader span:nth-child(4) {
    background: #ec902e;
    animation-delay: -400ms;
}

.loader span:nth-child(5) {
    background: #09b7bf;
    animation-delay: -300ms;
}

.loader span:nth-child(6) {
    background: #ea3d8c;
    animation-delay: -200ms;
}

@keyframes loading {

    0%,
    60%,
    100% {
        transform: scale(0.01);
    }

    35% {
        transform: scale(1);
    }
}