/* Contenedor principal */
.main__container--music-player {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    padding: 20px 20px 0;
    margin: 0 auto;
}

/* Estilos del código de la sala */
.room__code {
    color: white;
    text-align: center;
    font: 1.6rem/100% var(--font-bold);
    position: absolute;
    width: 100%;
    top: -20px;
}

.room__code--text {
    cursor: pointer;
    text-decoration: underline;
    font: 2rem var(--font-bold);
}

/* Contenedor del cover del album */
.card__container {
    margin: 0 auto;
    position: relative;
}

.card {
    width: 100%;
    object-fit: contain;
    padding: 30px 0 20px;
}

/* Contenedor de los controles, detalles de la canción y progreso */
.controls__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 15px auto;
    font-size: 0.6em;
    line-height: 1.5em;
    text-indent: 0.5em;
    height: 1.8em;
    border-radius: 10px;
    color: black;
    background-color: transparent;
}

.progress[value]::-webkit-progress-bar {
    background-color: yellow;
    box-shadow: 0px 0px 2px 0px var(--purple);
    border-radius: 10px;
}

.progress::-webkit-progress-value {
    background-image: var(--progressbar) !important;
    box-shadow: 0px 0px 5px 1px yellow;
    border-radius: 10px;
}

.progress::-webkit-progress-bar {
    background-color: #eeee00;
    border-radius: 10px;
}

.progress::-webkit-progress-value {
    border-radius: 10px;
}

.progress::-moz-progress-bar {
    border-radius: 10px;
}

.song__details--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.song__details {
    color: white;
    font: 1.4rem/1.4rem var(--font-bold);
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    overflow-wrap: normal;
}

.song__details:hover {
    text-decoration: underline;
}

.song__name {
    color: white;
    font: 1.6rem/1.6rem var(--font-bold);
    margin-bottom: 5px;
}

.song__artist {
    color: #cccccc;
    font: 1.4rem/1.4rem var(--font-bold);
    line-height: 100%;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.song__album {
    color: #cccccc;
    font: 1.4rem/1.4rem var(--font-bold);
    margin-bottom: 5px;
}

.votes-to-skip {
    color: #cccccc;
    font: 1.4rem/1.4rem var(--font-bold);
}

.buttons__container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#bucle path {
    stroke: white;
}

#bucle path.arrow {
    fill: white;
    stroke: white;
}

svg {
    transition: .5s;
    width: 40px;
}

svg#bucle:hover {
    transform: rotate(180deg);
}

svg#bucle:hover path {
    stroke: var(--active);
}

svg#bucle:hover path.arrow {
    fill: var(--active);
    stroke: var(--active);
}

#playpause {
    width: 50px;
    height: 50px;
    position: relative;
    transition: all .1s;
    margin: 0 10px 0 25px;
}

#playpause svg#play,
#playpause svg#pause {
    position: absolute;
    fill: white;
}

#playpause:hover svg#play,
#playpause:hover svg#pause {
    fill: var(--active);
    transform: scale(1.3);
}


#skip {
    width: 50px;
    height: 50px;
    fill: white;
    transition: all .3s;
}

#skip:hover {
    fill: var(--active);
    transform: scale(1.2) rotateZ(180deg) rotateY(180deg);
}

.opacity {
    opacity: 0;
}

.footer__music-player {
    width: 100vw;
    height: 70px;
    background-color: var(--blue);
    margin-top: auto;
    padding: 10px 0 30px;
    margin-left: -20px;

}

.footer__container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 auto;
}

#album {
    fill: white;
    padding: 5px;
}

#album:hover {
    fill: var(--active);
}

#library {
    fill: white;
}

#library:hover {
    fill: var(--active);
}

#song {
    fill: white;
    padding: 5px;
}

#song:hover {
    fill: var(--active);
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    overflow: hidden;
}

.header__icon {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    transition: all .5s;
    pointer-events: all;
}

.rotate {
    transform: rotate(180deg);
}

#gear {
    padding: 5px;
    fill: white;
}

#close {
    padding: 5px;
    position: absolute;
    fill: white;
}

#aside {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: var(--gradient);
    right: -100%;
    top: 0;
    z-index: 2;
    transition: all .5s;
    pointer-events: all;
    padding: 50px 20px 0 20px;
    display: flex;
    justify-content: center;
    overflow-Y: scroll;
}

.displayed {
    right: 0 !important;
}

/* First dialog box */
.footer__dialog--container-1:hover .dialog--box-1,
.footer__dialog--container-1:active .dialog--box-1,
.footer__dialog--container-1:focus .dialog--box-1,
.footer__dialog--container-1:focus-within .dialog--box-1 {
    display: block;
}

.dialog--box-1 {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    height: 40vh;
    display: none;
}

.box {
    height: 100%;
    width: 90%;
    border-radius: 10px;
    background-color: #f0ad4e;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog--triangle-1 {
    display: flex;
    max-width: 500px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.dialog--triangle-1 div:nth-child(1) {
    width: 0;
    height: 0;
    border-top: 20px solid #f0ad4e;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.dialog--triangle-1 div:nth-child(2),
.dialog--triangle-1 div:nth-child(3) {
    width: 40px;
    opacity: 0;
}


/* Second dialog box */
.footer__dialog--container-2:hover .dialog--box-2,
.footer__dialog--container-2:active .dialog--box-2,
.footer__dialog--container-2:focus .dialog--box-2,
.footer__dialog--container-2:focus-within .dialog--box-2 {
    display: block;
}

.dialog--box-2 {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    height: 40vh;
    display: none;
}

.dialog--triangle-2 {
    display: flex;
    max-width: 500px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.dialog--triangle-2 div:nth-child(2) {
    width: 0;
    height: 0;
    border-top: 20px solid #f0ad4e;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.dialog--triangle-2 div:nth-child(1),
.dialog--triangle-2 div:nth-child(3) {
    width: 40px;
    opacity: 0;
}

/* Third dialog box */
.footer__dialog--container-3:hover .dialog--box-3,
.footer__dialog--container-3:active .dialog--box-3,
.footer__dialog--container-3:focus .dialog--box-3,
.footer__dialog--container-3:focus-within .dialog--box-3 {
    display: block;
}

.dialog--box-3 {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    height: 40vh;
    display: none;
}

.dialog--triangle-3 {
    display: flex;
    max-width: 500px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.dialog--triangle-3 div:nth-child(3) {
    width: 0;
    height: 0;
    border-top: 20px solid #f0ad4e;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.dialog--triangle-3 div:nth-child(1),
.dialog--triangle-3 div:nth-child(2) {
    width: 40px;
    opacity: 0;
}

/* Test */
p {
    color: white;
    font: bold 2rem/1.5 var(--font-bold);
}