@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&display=swap');

:root {
    --font-bungee-bold: 'Bungee', cursive;
    --font-bungee-light: 'Bungee Hairline', cursive;
    --blue: #23049D;
    --purple: #AA2EE6;
    --pink: #FF79CD;
    --gradient: linear-gradient(90deg, rgba(35,4,157,1) 0%, rgba(170,46,230,1) 50%, rgba(255,121,205,1) 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--gradient);
}